<main class="container">
{{> events/event-header}}



{{> events/event-create}}





<!--

   <div>
      <form id="event-form" action="events/create" method="POST">
         <fieldset>
         Host name:<br>
         <input name="in_event"  type="text" id="host"><br> 
         Title of event:<br>
         <input name="in_title"  type="text" id="title"><br>
         Location of event:<br>
         <input name="in_location"  type="text" id="location"><br>
         Date of event:<br>
         <input name="in_date"  type="datetime-local" id="date"><br>
         Description:<br>
         <input name="in_desc"  type="text" id="description"><br>
         <input name="in_tags"  type="text" id="tags"><br>
      </form><br><br>

     <button type="submit" class="btn btn-primary btn-sm">POST EVENT</button>
        </fieldset>
                </form>

   </div>
-->
</main>