 <div style="position: fixed; bottom: 40px; height: 40px; background: #FFF; z-index:20;">
     <div style="float:left;">
 <form action="/myfeed" method="GET">
<input type="hidden" name="removed" value="1" >
<button type="submit" class="btn btn-info btn-xs3" id="mainnav">MY FEED</span></button>
</form>
    </div>

     <div style="float:left;">
 <form action="/addevent" method="GET">
<input type="hidden" name="removed" value="1" >
<button type="submit" class="btn btn-info btn-xs3" id="mainnav">VIEW EVENTS</span></button>
</form>
    </div>

         <div style="float:left;">
 <form action="/create" method="GET">
<input type="hidden" name="removed" value="1" >
<button type="submit" class="btn btn-info btn-xs3" id="mainnav">CREATE EVENT</span></button>
</form>
    </div>


     </div>