 <div style="width:100%; position: fixed; top: 0px; height: 40px; z-index:20;">
     <div style="float:left;">
 <form action="/myfeed" method="GET">
<input type="hidden" name="removed" value="1" >
<button type="submit" id="mainnav">UPCOMING EVENTS</span></button>
</form>
    </div>

     <div style="float:left;">
 <form action="/events" method="GET">
<input type="hidden" name="removed" value="1" >
<button type="submit"  id="mainnav">I'M ATTENDING</span></button>
</form>
    </div>

         <div style="float: right;">
 <form action="/create" method="GET">
<input type="hidden" name="removed" value="1" >
<button type="submit"  id="mainnav">CREATE EVENT</span></button>
</form>
    </div>


     </div>